*{
	color: white;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.mdiv{
	width: 100%;
	position: relative;
	min-height: 100vh;
	background: linear-gradient(45deg,#08001f,#30197d);
	background-image: url("https://t4.ftcdn.net/jpg/06/42/35/73/240_F_642357359_2j8Z2D4iNVb50FmhXxcg5xLbomMQHUuy.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.container{
	height: 180px;
	width: 800px;
	position: absolute;
	top: 20%;
	right: 50%;
	color:black;
	margin-left: 50px;
	
	
}
.clk{
	width: 50%;
	height: 60%;
	border-radius: 10px;
	background: rgba(235, 0, 255, 0.11);

	top: 20px;
	font-size: 30px;
	margin-left: 190px;
	font-family: serif;
	

}
